body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  overflow: hidden;
  touch-action: none; /* IMPORTANT for mobile */
}

.paper {
  position: absolute;
  background: white;
  padding: 20px 60px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  border-radius: 10px;
  transform: rotate(-5deg);
  cursor: grab;
  user-select: none;
}

.paper.red {
  background: #ffe5e5;
}

.paper.heart {
  width: 150px;
  height: 150px;
  background: pink;
  border-radius: 50%;
}

.paper.image {
  padding: 10px;
}

.paper.image img {
  width: 100%;
  max-height: 200px;
  pointer-events: none;
}

p {
  font-size: 20px;
  margin: 5px 0;
}
